@{ 
    ViewData["Title"] = "Sign up";
}

<form method="post">
    <div>
        <label for="user">Username</label>
        <input id="user" type="text" name="username" />
    </div>
    <div>
        <label for="pass">Password</label>
        <input id="pass" type="password" name="password" />
    </div>
    <div>
        <label for="repass">Re-Password</label>
        <input id="repass" type="password" name="repassword" />
    </div>
    <div>
        <label for="display">Display name</label>
        <input id="display" type="text" name="displayname" />
    </div>
    <div>
        <label></label>
        <button type="submit">Sign up</button>
    </div>
</form>