@model ChatService.Models.AccountTemplate

@{ 
    ViewData["Title"] = "Sign up";
}

@using (Html.BeginForm("Signup", "Home", "POST"))
{
    <div class="panel">
        <h3>Hello</h3>
    </div>
    <div class="panel panel-default">
        <label for="user">Username</label>
        @Html.TextBoxFor(m => m.Username, new { id = "user" })
    </div>
    <div class="panel panel-default">
        <label for="pass">Password</label>
        @Html.PasswordFor(m => m.Password, new { id = "pass" })
    </div>
    <div class="panel panel-default">
        <label for="repass">Re-Password</label>
        @Html.PasswordFor(m => m.Repassword, new { id = "repass" })
    </div>
    <div class="panel panel-default">
        <label for="display">Display name</label>
        @Html.TextBoxFor(m => m.DisplayName, new { id = "display" })
    </div>
    <div>
        <label></label>
        <input type="hidden" name="seed" value="" />
        <button type="submit">Sign up</button>
    </div>
}