<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Service - @ViewData["Title"]</title>
    <environment names="Development">
        <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/site.min.css" rel="stylesheet" type="text/css" />
    </environment>
</head>
<body>
    <div class="screen">
        <div class="nav">
            <div class="wrapper">

            </div>
        </div>
        <div class="content-body">
            <div class="wrapper">

            </div>
        </div>
        <div class="footer">
            <div class="wrapper">

            </div>
        </div>
    </div>

</body>
</html>