@model ChatService.Models.Account

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Display name</h3>
    </div>
    <div class="panel-body">
        <p>@Model.DisplayName</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Username</h3>
    </div>
    <div class="panel-body">
        <p>@Model.Username</p>
    </div>
</div>
