@{ 
    ViewData["Title"] = "Logging out";
}
<div>
    <p>If website is not redirect to homepage press the link below</p>
    @Html.ActionLink("Click to homepage", "Index", "Home")
</div>
<script>
    
</script>